* {
    box-sizing: border-box;
}

figure {
    margin: 0;
    background-color: #CCC;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    border-radius: 5px;
}

figcaption {
    margin: 1rem 0 0 0;
}

video {
    width: 100%;
}



/*
STYLING VTT CUES */
::cue(v) {
    background-color: lightcoral;
}

::cue(c.blue-text) {
    color: aqua;
}